body {
    margin: 0%;
}

@media only screen and (max-width: 600px){
    .row {
        display: flex;
        flex-direction: column;
        
    }
}

.row {  
    display: flex;
    flex-wrap: wrap;
    
  }


.main{
    flex: 20%;
    background-color: orangered;
    
}

.side{
    flex:60%;
    background-color: skyblue ;
}

.side2{
    flex: 20%;
    background: orangered;
}